* {
  padding: 0;
  margin: 0;
}
.main {
  width: 690px;
  margin: 100px auto;
  .timing {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    h3 {
      font-size: 1.5rem;
      font-family: tahoma;
      color: rgb(31, 31, 31);
    }
  }

  .main-container {
    display: inline-grid;
    grid-template-columns: repeat(4, 160px);
    grid-auto-rows: 200px;
    grid-gap: 20px;

    .card {
      background-color: rgb(59, 59, 201);
      overflow: hidden;
      border: 10px solid rgb(59, 59, 201);
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        background: rgb(41, 41, 163);
      }

      img {
        width: 100%;
        opacity: 0;
        transition: opacity 0.1s 0.1s;
        &.visible {
          opacity: 1;
        }
      }
      &.done {
        border: 10px solid green;
      }
    }
    .show {
      transform: scaleX(-1);
    }
  }
}
